body {
  background-color: #152d5b;
}

.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 58px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 800px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.sign-out {
  padding: 10px 25px;
  margin-top: 3px;
  margin-right: 10px;
  font-size: 1.1rem;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(91 67 194);
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: rgb(79 68 130);
}

main::-webkit-scrollbar-thumb {
  background: #1e1e24;
}

form {
  height: 10vh;
  min-height: 60px;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 800px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 128px;
  font-size: 1.1rem;
  background-color: rgb(9 9 33);
}


input {
  overflow: scroll;
  line-height: 1.5;
  width: 100%;
  font-size: 1.1rem;
  background: rgb(32 33 40);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 24%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.firstInfo {
  max-width: 100%;
  padding: 0 50px;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
  padding-left: 60px;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.received {
  padding-right: 60px;
}

.received p {
  background: #e5e5ea;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


@media only screen and (max-width: 450px) {
  .sign-out {
    padding: 10px 25px;
    margin-top: 3px;
    margin-right: 10px;
    font-size: 1rem;
  }

  .sign-in {
    font-size: 0.9rem;
    border: 2px solid grey;
    color: #282c34;
    background: white;
    max-width: 400px;
    margin: 0 24%;
    border-radius: 20px;
  }

  .firstInfo {
    font-size: 0.8rem;
    line-height: 1.5;
  }
}